.pole{
    width: 50px;
    height: 50px;
}

.pole0 {
    background-image: url("img.png");
}

.pole1 {
    background-color: black ;
}
.pole2 {
    background-color: black ;
}
.pole3 {
    background-color: black ;
}
.pole4 {
    background-color: black ;
}

.pole-1 {
    background-image: url("fire.jpg");
}
